<div class="side-bar">
    <div><i class="uil uil-ellipsis-h"></i></div>
    <ul class="side-bar__list list-one">
        <li [routerLink]="defaultOptions.route" *ngFor="let defaultOptions of mainMenu.defaultOptions">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',defaultOptions.icon]"></i>
                <span class="side-bar__list list-label">{{defaultOptions.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator"></div>
    <ul class="side-bar__list list-two">
        <li *ngFor="let accessLink of mainMenu.accessLink">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',accessLink.icon]"></i>
                <span class="side-bar__list list-label">{{accessLink.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li *ngFor="let customOption of customOptions">
            <div class="list-wrapper-item">
                <span class="side-bar__list list-label">{{customOption.name}}</span>
            </div>
        </li>
    </ul>
</div>